html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
  background-color: #D6F6D5;
  height: 100%;
  position: relative;
  font-family: Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  text-align: center;
}

.centered-text {
  display: inline-block; /* Pour que le span ne prenne que la largeur nécessaire */
  font-size: 24px; /* Augmentez la taille de police comme souhaité */
}

header{
  text-align: left;
  height: 80px;
  overflow: hidden;
  background: #81c784 linear-gradient(to top, #D6F6D5, #81c784);
  background-color:     ;
  top: 0;
}

header a{
  color:#43a047;
  text-decoration: none;
}

h1{
  color:#43a047;
  font-size: 30px;
  margin-top: 30px;
  margin-right: 10px;
  

}

p{
  color:#43a047;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
